@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
     font-family: "Roboto", sans-serif;


    /* textstyling - text allign */
    h1{
        text-align: center;
        text-transform: capitalize;
        text-decoration: line-through;
        letter-spacing: 1px;
        word-spacing: 1px;
        line-height: 20px;


        font-size: 20px; ##CSS  units: rem & em##

        font-family: verdana, Geneva, tahoma, sens-serfic;
        /* fallback - giving these many font families, so that the message is shown regardless first font is there or not */
    }

    /* textstyling - transform, decoration, border, dotted, line-through */

    a {
        text-decoration: none;
        font-weight: 800;
        font-weight: lighter;
    }

    
padding: 1px;



}